<div class="p-2 my-6 flex justify-center items-center w-full min-h-screen">

  <div class="sm:flex gap-8 w-full max-w-4xl">
    <div class="max-w-[360px] w-full">
      <%= link_to "< Back", root_path, class: "btn-secondary mb-4" %>
      <div class="mb-2 relative border aspect-[1/1] bg-cover flex items-end" style="background-image:url(<%= asset_path "#{@camper["name"]}.JPG" %>)">
        <div class="opacity-0 hover:opacity-100 bg-accent absolute w-full h-full bg-cover flex flex-col items-center justify-end gap-3" style="background-image:url(<%= asset_path "#{@camper["name"]}-alt.JPG" %>)">
          <% @camper["stats"]&.each do |stat| %>
            <div class="hover:opacity-10">
              <p class="text-center <%= ['rotate-6', 'rotate-3', '-rotate-6', '-rotate-3', 'rotate-12', -'rotate-12'].sample %> mb-3 whitespace-nowrap hard-shadow bg-white text-sm px-1"><%= stat %></p>
            </div>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag :edit_camper do %>
      <%= link_to "Edit", edit_camper_path(@camper), class: 'float-right' %>
      <h1 class="font-bold text-4xl"><%= @camper.name %><span class="font-medium text-lg italic"><%= " aka #{@camper['aka']}" if @camper["aka"].present? %></span></h1>
      <h2 class="mt-4 uppercase text-xs">Working on: </h2>
      <p class="font-semibold text-2xl"><%= @camper.project %><%= link_to 'Link', @camper.project_url, class: 'ml-2 underline text-base font-medium' if @camper.project_url.present? %></p>
      <p class="text-lg"><%= @camper.project_description %></p>
      <%= render "project_status_badge", status: @camper.project_status %>
    <% end %>
    </div>

    <div class="w-full">
      <%= turbo_frame_tag :new_report do %>
        <div class="w-full flex justify-end">
          <%= link_to "Add new report", new_camper_report_path(camper_id:@camper), class: "btn-primary mb-2" %>
        </div>
      <% end %>
      <h2 class="mt-4 text-xl font-semibold">Latest reports:</h2>
      <div class="space-y-2 sm:max-h-[80vh] overflow-y-auto">
        <%= render @camper.reports.most_recent %>
        <div class="hidden only:block bg-gray-100 p-3">
          <div class="text-center text-4xl">🦗</div>
          <%= @camper.name %> hasn't posted any progress reports yet...<br> Someone should ask him what he's up to.
        </div>
      </div>
    </div>
  </div>
</div>
