<%= form_with(model: [@camper, report], class: "contents") do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation" class="bg-red-100 text-red-700 px-3 py-2 font-medium mt-3">
      <h2><%= pluralize(report.errors.count, "error") %> stopped this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :body, "Give us an update on your progress building the app" %>
    <%= form.text_area :body, rows: 4, placeholder: 'I did some things...', class: "block shadow border px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex justify-between">
    <%= link_to 'Nevermind', @camper, class: "btn-secondary" %>
    <%= form.submit class: "btn-primary", data: {turbo_frame: "_top"} %>
  </div>
<% end %>
